In [1]:
import os
import pandas as pd
import torch
from torchvision.io import read_image
from torch.utils.data import Dataset
from torchvision import datasets
from torchvision.transforms import ToTensor

In [2]:

class CustomImageDataset(Dataset):
    def __init__(self, annotations_file, img_dir, transform=None, target_transform=None):
        self.img_labels = pd.read_csv(annotations_file)
        self.img_dir = img_dir
        self.transform = transform
        self.target_transform = target_transform

    def __len__(self):
        return len(self.img_labels)

    def __getitem__(self, idx):
        img_path = os.path.join(self.img_dir, self.img_labels.iloc[idx, 0])
        image = read_image(img_path)
        label = self.img_labels.iloc[idx, 1]
        if self.transform:
            image = self.transform(image)
        if self.target_transform:
            label = self.target_transform(label)
        return image, label

In [3]:
df = pd.read_csv('art_data.csv')

In [4]:
df.head()

,index,author,title,date,url,type,style,school
0,0,"AAGAARD, Carl Frederik",Deer beside a Lake,1888.0,https://www.wga.hu/art/a/aagaard/deerlake.jpg,landscape,Realism,Danish
1,1,"AAGAARD, Carl Frederik",The Rose Garden,1877.0,https://www.wga.hu/art/a/aagaard/rosegard.jpg,landscape,Realism,Danish
2,2,"ABADIA, Juan de la",The Archangel Michael,1490.0,https://www.wga.hu/art/a/abadia/michael.jpg,religious,Early Renaissance,Spanish
3,3,"ABBATE, Niccolo dell'",Chimney breast,1552.0,https://www.wga.hu/art/a/abbate/chimney1.jpg,other,Mannerism,Italian
4,4,"ABBATE, Niccolo dell'",Stag Hunt,1550.0,https://www.wga.hu/art/a/abbate/deerhunt.jpg,landscape,Mannerism,Italian

In [5]:
df.groupby('type').count()

              index  author  title   date    url  style  school
type
genre          2773    2773   2773   2772   2773   2773    2773
historical      943     943    943    943    943    943     943
interior        624     624    624    624    624    624     624
landscape      4173    4173   4173   4173   4173   4173    4173
mythological   3160    3160   3160   3160   3160   3160    3160
other           968     968    968    968    968    968     968
portrait       4783    4783   4783   4783   4783   4783    4783
religious     13026   13026  13026  13025  13026  13026   13026
still-life     1423    1423   1423   1420   1423   1423    1423
study            84      84     84     84     84     84      84

In [6]:
df.groupby('style').count()

                      index  author  title   date    url   type  school
style
Art Nouveau             193     193    193    193    193    193     193
Baroque               10697   10697  10697  10694  10697  10697   10697
Early Renaissance      3923    3923   3923   3922   3923   3923    3923
High Renaissance       2194    2194   2194   2194   2194   2194    2194
Impressionism          2121    2121   2121   2121   2121   2121    2121
Mannerism              2634    2634   2634   2633   2634   2634    2634
Medieval               2238    2238   2238   2238   2238   2238    2238
Neoclassicism           566     566    566    566    566    566     566
Northern Renaissance   3021    3021   3021   3021   3021   3021    3021
Realism                 925     925    925    925    925    925     925
Rococo                 1946    1946   1946   1946   1946   1946    1946
Romanticism            1499    1499   1499   1499   1499   1499    1499

In [7]:
df.groupby('school').count()

               index  author  title   date    url   type  style
school
American         178     178    178    178    178    178    178
Austrian         362     362    362    362    362    362    362
Belgian          106     106    106    106    106    106    106
Bohemian          38      38     38     38     38     38     38
Catalan           28      28     28     28     28     28     28
Danish           134     134    134    134    134    134    134
Dutch           4344    4344   4344   4344   4344   4344   4344
English          679     679    679    679    679    679    679
Finnish           29      29     29     29     29     29     29
Flemish         3577    3577   3577   3577   3577   3577   3577
French          4509    4509   4509   4505   4509   4509   4509
German          1919    1919   1919   1919   1919   1919   1919
Greek             23      23     23     23     23     23     23
Hungarian        351     351    351    351    351    351    351
Irish             33      33     33     33     33     33     33
Italian        13441   13441  13441  13441  13441  13441  13441
Netherlandish    495     495    495    495    495    495    495
Norwegian         55      55     55     55     55     55     55
Other             28      28     28     28     28     28     28
Polish            18      18     18     18     18     18     18
Portuguese        22      22     22     22     22     22     22
Russian           90      90     90     90     90     90     90
Scottish          74      74     74     74     74     74     74
Spanish         1253    1253   1253   1252   1253   1253   1253
Swedish           36      36     36     36     36     36     36
Swiss            135     135    135    135    135    135    135