In [ ]:
import pandas as pd
import numpy as np
import json

Load data

In [4]:
df = pd.read_csv('data/art_data_loaded.csv')

In [5]:
df.head()

,index,author,title,date,url,type,style,school
0,0,"AAGAARD, Carl Frederik",Deer beside a Lake,1888.0,https://www.wga.hu/art/a/aagaard/deerlake.jpg,landscape,Realism,Danish
1,1,"AAGAARD, Carl Frederik",The Rose Garden,1877.0,https://www.wga.hu/art/a/aagaard/rosegard.jpg,landscape,Realism,Danish
2,2,"ABADIA, Juan de la",The Archangel Michael,1490.0,https://www.wga.hu/art/a/abadia/michael.jpg,religious,Early Renaissance,Spanish
3,3,"ABBATE, Niccolo dell'",Chimney breast,1552.0,https://www.wga.hu/art/a/abbate/chimney1.jpg,other,Mannerism,Italian
4,4,"ABBATE, Niccolo dell'",Stag Hunt,1550.0,https://www.wga.hu/art/a/abbate/deerhunt.jpg,landscape,Mannerism,Italian

Fine grade positive groups.

In [6]:
df.groupby(['type','style','school']).count()

                             index  author  title  date  url
type  style       school
genre Art Nouveau Austrian       2       2      2     2    2
                  Belgian        3       3      3     3    3
                  French         5       5      5     5    5
                  German         1       1      1     1    1
                  Norwegian      2       2      2     2    2
...                            ...     ...    ...   ...  ...
study Romanticism Belgian        1       1      1     1    1
                  English        4       4      4     4    4
                  French         7       7      7     7    7
                  German         1       1      1     1    1
                  Italian        1       1      1     1    1

[777 rows x 5 columns]

In [10]:
ind_matrix = np.ndarray((df.shape[0],df.shape[0]),dtype=int)

Creating the indexes of positive and negative pairs for images.

In [29]:
fine_grade_groups = dict()

indexes_to_groups = dict()


for x,y in enumerate(df.groupby(['type','style','school'])):
    fine_grade_groups[x] = [[],[]]
    

for group_ind,(name,group) in enumerate(df.groupby(['type','style','school'])):

    for ind,row in group.iterrows():
        indexes_to_groups[row['index']] = group_ind

    pairs = group['index'].to_list()

    cschool = group.iloc[0]['school']
    ctype  = group.iloc[0]['type']
    cstyle = group.iloc[0]['style']

    neg_paris = df.loc[ (df['type'] != ctype) & (df['school'] != cschool) & (df['style'] !=cstyle) ]['index'].to_list()

    fine_grade_groups[group_ind][0].extend(pairs)
    fine_grade_groups[group_ind][1].extend(neg_paris)

In [33]:
with open("indexes_to_groups.json",'w')as f:
    f.write(json.dumps(indexes_to_groups))

with open("pairs_groups.json",'w')as f:
    f.write(json.dumps(fine_grade_groups))